@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Phonebook Web App - Change the Title of the App and deploy</h1>
    <p class="lead">Successfully deployed the task #320</p>
</div>
